In [42]:
import numpy as np
import pandas as pd
import pandas_datareader.data as web

In [41]:
#pip instal xlrd
#pip install openpyxl

In [27]:
dframe_wine = pd.read_csv('winequality-red.csv',sep=';')

In [78]:
df = pd.read_excel("../Data/sales-funnel.xlsx") # Read an Excel table into a pandas DataFrame. Creates a DataFrame

In [52]:
xlfile = pd.ExcelFile("../Data/sales-funnel.xlsx") #Class for parsing tabular excel sheets into DataFrame objects.

In [53]:
xlfile

In [55]:
xlfile.sheet_names

['Sheet1']

In [57]:
df2 = xlfile.parse('Sheet1') # Read an Excel table into a pandas DataFrame. Creates a DataFrame

In [43]:
url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'

In [44]:
sp500_list = pd.io.html.read_html(url) #Read HTML tables into a list of DataFrame objects.

In [47]:
df_sp500 = sp500_list[0] #Copies the first DataFrame from the list of DataFrames. Creates a DataFrame

In [48]:
url2 = 'http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/'

In [50]:
dframe_wine = pd.read_csv('winequality-red.csv',sep=';') # Reads CSV into a DataFrame

We now have DataFrames created using various methods:

    1) Pandas' read_excel
    2) Pandas' ExcelFile & parse
    3) Pandas' read html
    4) Pandas' read CSV

In [33]:
df.head()

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won

In [34]:
df2_2.head()

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won

In [36]:
dframe_wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [51]:
dframe_wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [35]:
df.columns

Index(['Account', 'Name', 'Rep', 'Manager', 'Product', 'Quantity', 'Price',
       'Status'],
      dtype='object')

In [58]:
df2.columns

Index(['Account', 'Name', 'Rep', 'Manager', 'Product', 'Quantity', 'Price',
       'Status'],
      dtype='object')

In [59]:
df_sp500.columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 7], dtype='int64')

In [60]:
dframe_wine.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

Now we have four DataFrames that were imported from using various methods. Now it's time to export back to Excel

1) df
2) df2
3) df_sp500
4) dframe_wine

In [74]:
writer = pd.ExcelWriter('pandas_excel_export.xlsx',engine='xlsxwriter')
df.to_excel(writer,sheet_name='Read Excel',)
df2.to_excel(writer, sheet_name='Excel File')
df_sp500.to_excel(writer, sheet_name='HTML')
dframe_wine.to_excel(writer, sheet_name='CSV')

In [75]:
writer.save()

In [76]:
writer2 = pd.ExcelWriter('pandas_excel_export_norow.xlsx',engine='xlsxwriter')
df.to_excel(writer2,sheet_name='Read Excel',index=False)
df2.to_excel(writer2, sheet_name='Excel File',index=False)
df_sp500.to_excel(writer2, sheet_name='HTML',index=False)
dframe_wine.to_excel(writer2, sheet_name='CSV',index=False)

In [77]:
writer2.save()